# Base de datos PostgreSQL
DATABASE_URL=postgresql://airmon:airmon123@db:5432/airmonitoring
POSTGRES_USER=airmon
POSTGRES_PASSWORD=airmon123
POSTGRES_DB=airmonitoring

# URLs de servicios (comunicacion interna Docker)
IOT_SERVICE_URL=http://iot-service:8001
ML_SERVICE_URL=http://ml-service:8002
OPS_SERVICE_URL=http://ops-service:8003
API_GATEWAY_URL=http://api-gateway:8000

# API Gateway - Auth
SECRET_KEY=dev-secret-key-change-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7

# ML Service
ML_ARTIFACTS_PATH=/app/ml_artifacts

# Frontend (URLs publicas para el navegador)
NEXT_PUBLIC_API_GATEWAY_URL=http://localhost:8000
NEXT_PUBLIC_IOT_SERVICE_URL=http://localhost:8001
NEXT_PUBLIC_ML_SERVICE_URL=http://localhost:8002
NEXT_PUBLIC_OPS_SERVICE_URL=http://localhost:8003
